$menu-border-color : 3px solid green;
$menu-background-color :  aquamarine;
$text-color :lightgreen;
$text-background-color : gray;
$text-border-color : 2px solid orange;
$logo-border-color : 5px solid black;


 